@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background-color: #0a0a0a; 
  color: white;
  font-family: var(--font-sans), Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}