@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding-inline: 4rem;
}

.headerList {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 29% 11%;
    align-items: center;
}

.imageLogo {
    height: 3.5rem;
    grid-column: 1; 
}

.input {
    width: 84%;
    height: 3rem;
    border-radius: 50px 0 0 50px;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
}

.userProfile {
    height: 3.5rem;
    width: 3.5rem;
    grid-column: 2 / span 2;
    margin-left: calc(100% - 3.5rem);
}

.userProfile > img {
    border-radius: 50%;
}

.inputListItem {
    display: flex;
}

.iconContainer {
    width: 3em;
    height: 3rem;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 50% 50% 0;
}

.searchIcon {
    font-size: larger;
    color: #0e0e0e;
}