* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to bottom, #4E3752, #0e0e0e);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-family: sans-serif;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.button {
    background-color: #47cf73; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    cursor: pointer;  
    width: 15rem;
    height: 3rem;
    border-radius: 1.5rem;
}

.button > p{
   font-size: medium; 
}
  
.button:hover {
transition: 1s;
background-color: #41bc68;
}
  